In [28]:
import pandas as pd
from datetime import datetime, timedelta

df = pd.read_csv('ViewingActivity.csv')

df = df.drop([ 'Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)
df.head(1)

,Profile Name,Start Time,Duration,Title
0,jean luc,2024-05-22 19:11:36,00:46:48,Le Mensonge: Season 1: Le dernier combat (Épis...

In [9]:
df.dtypes

Start Time    object
Duration      object
Title         object
dtype: object

In [10]:
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
df.dtypes

Start Time    datetime64[ns, UTC]
Duration                   object
Title                      object
dtype: object

In [12]:
df = df.set_index('Start Time')

# convert from UTC timezone to eastern time
df.index = df.index.tz_convert('Europe/Paris')

# reset the index so that Start Time becomes a column again
df = df.reset_index()

#double-check that it worked
df.head(1)

,Start Time,Duration,Title
0,2024-05-22 21:11:36+02:00,00:46:48,Le Mensonge: Season 1: Le dernier combat (Épis...

In [13]:
df.dtypes

Start Time    datetime64[ns, Europe/Paris]
Duration                            object
Title                               object
dtype: object

In [31]:
office = df[df['Title'].str.contains('The Office', regex=False)]
office.shape

(8174, 4)

In [32]:
df['Duration'] = pd.to_timedelta(df['Duration'])
df.dtypes

Profile Name             object
Start Time               object
Duration        timedelta64[ns]
Title                    object
dtype: object

In [30]:
office = office[(office['Duration'] > '0 days 00:01:00')]

In [36]:
office['Duration'].sum()

Timedelta('78 days 12:03:17')

In [35]:
office.shape

(8174, 4)

In [ ]:
office['weekday'] = office['Start Time'].dt.weekday
office['hour'] = office['Start Time'].dt.hour